*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:white;
    height: 80px;
    border-bottom: 1px solid #f6f6f6;

}
.myntra_home{
    height: auto;
    width:60px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    

}
.logo_continer{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content:space-evenly;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-line: none;
    padding: 30px 0px;   
     border-bottom: 5px solid #ffffff;
    
}
.nav_bar a:hover{
    border-bottom: 5px solid #f54e77;
}
.nav_bar a sup{
    font-size: 10px;
    color: #ff3f6c;
}

.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}
.search_input{
    color: #696e7e;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0px;
    border-radius: 0px 4px 4px 0px;

}

.search_icon{
    height: 20px;
    box-sizing: content-box;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    border-radius: 4px 0px 0px 4px;

}
.action_bar{
    display:flex;
    min-width: 200px;
    justify-content:space-evenly;
}
.action_container{
    display:flex;
    flex-direction:column;
    align-items: centre;
}
/*main section*/
.banner_container{
    margin: 40px 0px;
}
.banner_image{
    width: 40%;

}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0px 10px 30px;
    max-height: 5em;
    font-weight: 700;
    

}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sale_item{
    width: 250px;



}
.footer_container{
    padding: 30px 0px 40px 0px;
    background-color: #fafbFC;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column h3{
    color: #282c3f;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;

}
.footer_column a{
    font-size: 15px;
    color: #696b79;
    
    text-decoration: none;
    padding-bottom: 5px;
}
.myfooter_column{
    display: flex;
    flex-direction: column;
}
.myfooter_column a{
    font-size: 15px;
    color: #696b79;
    
    text-decoration: none;
    padding-bottom: 5px;

}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}